* {
  font-family: "Sora", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

header {
  padding: 40px 40px 0px 40px;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0px 40px;
}

h3 {
  font-size: 21px;
}

.contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.contacts ul li a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.contacts ul li a:hover {
  border-bottom: 1px solid #000;
}

.summary {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.skills {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.codeExamples {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.codeExamples pre {
  border: 1px solid #4a4a4a;
  padding: 10px;
  border-radius: 4px;
}

.projectExamples {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.projectExamples a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.projectExamples a:hover {
  border-bottom: 1px solid #000;
}

.education {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.english {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
